<app-navbar></app-navbar>

<div class="container my-5">
    <div class="card-header bg-info text-white">
        <h2>Liste des praticiens</h2>
    </div>
    <div class="tableau">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Specialites</th>
                <th>Lieux de consultation</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let praticien of findAll()">
                <td>{{praticien.id}}</td>
                <td>{{praticien.prenom}}</td>
                <td>{{praticien.nom}}</td>
                <td>
                    <ul>
                        <li *ngFor="let specialite of praticien.specialites">{{specialite}}</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li *ngFor="let location of praticien.consultLocations">{{location}}</li>
                    </ul>
                </td>
                <td>
                    <button class="btn btn-light" (click)="editPraticien(praticien)">edit</button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="deletePraticien(praticien.id)">delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="card-header bg-info text-white">
        <h2>Liste des patiens</h2>
    </div>
    <div class="tableau">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>#</td>
                <td>Prenom</td>
                <td>Nom</td>
                <td></td>
                <td>
                    <button class="btn btn-light" >edit</button>
                </td>
                <td>
                    <button class="btn btn-danger">delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

