<div class="left-away">
    <button type="button" class="btn btn-lg" (click)="showAdd = !showAdd" [ngClass]="{'btn-primary' : !showAdd, 'btn-success' : showAdd }">{{addButtonLabel()}}</button>
    <button type="button" class="btn btn-lg" (click)="clickEditButton()" [ngClass]="{'btn-light': !showEdit, 'btn-dark': showEdit }">{{editButtonLabel()}}</button>
</div>

<div class="conteneur" *ngIf="showAdd">
    <h3>Ajouter un praticien</h3>
    <div class="form-group">
        <label>Prenom :</label>
        <input type="text" class="form-control" placeholder="Entrer votre prénom..." [(ngModel)]="praticienTmp.prenom" />
    </div>
    <div class="form-group">
        <label>Nom :</label>
        <input type="text" class="form-control" placeholder="Entrer votre nom..." [(ngModel)]="praticienTmp.nom" />
    </div>
    <button type="submit" class="btn btn-primary" (click)="addPraticien()">Ajouter un praticien...</button>
</div>

<div class="conteneur" *ngIf="showEdit">
    <h3>Editer un praticien</h3>
    <div class="form-group">
        <label>Prenom :</label>
        <input type="text" class="form-control" [(ngModel)]="praticienEdited.prenom" />
    </div>
    <div class="form-group">
        <label>Nom :</label>
        <input type="text" class="form-control" [(ngModel)]="praticienEdited.nom" />
    </div>
    <div class="form-group">
        <label>Specialites :</label>
        <input type="text" class="form-control" *ngFor="let specialite of praticienEdited.specialites" [(ngModel)]="praticienEdited.specialites[praticienEdited.specialites.indexOf(specialite)]"/>
        <input type="text" class="form-control" [(ngModel)]="specialiteEdited" />
    </div>
    <div class="form-group">
        <label>Lieux de consultations :</label>
        <input type="text" class="form-control" *ngFor="let location of praticienEdited.consultLocations" [(ngModel)]="praticienEdited.consultLocations[praticienEdited.consultLocations.indexOf(location)]"/>
        <input type="text" class="form-control" [(ngModel)]="locationEdited" />
    </div>
    <div class="form-group">
        <label>Horaires :</label>
        <input type="text" class="form-control" [(ngModel)]="praticienEdited.horaires" />
    </div>
    <div class="form-group">
        <label>Motifs de consultations :</label>
        <input type="text" class="form-control" *ngFor="let motif of praticienEdited.motifs" [(ngModel)]="praticienEdited.motifs[praticienEdited.motifs.indexOf(motif)]"/>
        <input type="text" class="form-control" [(ngModel)]="motifEdited" />
    </div>
    <button type="button" class="btn btn-primary" (click)="launchEdit()">Editer</button>
</div>
